meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Student Details
link(rel="stylesheet", type="text/css", href="/css/style.css")
link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap.min.css")
.cont
    .header 
      h3 Student Profile
    .content
      br
      form
        .form-row
         h2 Personal Information
            label.pic Profile Photo
            img.pPic(src="" width="150px" height="170px")
            
            .form-group.col-md-6
            label.pI Name:
            br
            label.pI Gender:
            br
            label.pI Age:
            br
            label.pI Country:
            br
            label.pI Place of Residence:
        hr
        .form-row
         h2 Contact Information
            br 
            label.left Mobile Phone: 
            label.right Email:
        hr
        .form-row
         h2 Skills

        hr
        .form-row
         h2 Projects Involved in
         
        hr
        a.btn2(href='/Students') close
        a.btn1(href='#') Print

script(src="js/Validation.js")
script(src="bootstrap/jquery/jquery.min.js")
script(src="bootstrap/js/bootstrap.bundle.min.js")
